[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/badge/lib/forge-std"]
	path = packages/badge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/dev/lib/forge-std"]
	path = packages/dev/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
