[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/badge/lib/forge-std"]
	path = packages/badge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/badge/lib/solady"]
	path = packages/badge/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "packages/bridge/lib/forge-std"]
	path = packages/bridge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/bridge/lib/solady"]
	path = packages/bridge/lib/solady
	url = https://github.com/vectorized/solady
[submodule "packages/arcana/lib/solady"]
	path = packages/arcana/lib/solady
	url = https://github.com/vectorized/solady
[submodule "packages/arcana/lib/forge-std"]
	path = packages/arcana/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
