[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/badge/lib/forge-std"]
	path = packages/badge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/badge/lib/solady"]
	path = packages/badge/lib/solady
	url = https://github.com/Vectorized/solady
